  
  .menu__btn {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616161;
    
}

  .menu__btn > span::before {
    content: "";
    top: -8px;
    position:absolute;
    height: 3px;
    transition:0.5s;
    width: inherit;
    background-color: inherit;

}
  .menu__btn > span::after {
    top: 8px;
    width: inherit;
    background-color: inherit;
    content: "";
    position:absolute;
    height: 3px;
    transition:0.5s;
  }
  
  .header__burger-menu_active > .menu__btn > span {
    transform: rotate(45deg);
  }
  .header__burger-menu_active > .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .header__burger-menu_active > .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header__burger-menu_active > .menu__box {
    visibility: visible;
    left: 0;
    transition: all 0.5s;
  }
  @media (max-width: 2050px) {
    .menu__btn {
        z-index: 3;
        margin-left: 5px;
    }
  }