.pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
}

.page-btn {
    width: 45px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-right: 10px;
    border: 1px solid rgb(112, 104, 104);
    cursor: pointer;
}

.page-btn .current-page {
    background-color: rgb(225, 119, 62)
}